
<div class="mine col-md-10 m-auto mt-5 mb-5">
       <h1>Filter By Gender Or Name</h1>
       <input
       [(ngModel)]="filt.name"
       (input)="onFilterDataChanged()"
       type="text" class="form-control mt-4" placeholder="Name">
       <select
       [(ngModel)]="filt.gender"
       (change)="onFilterDataChanged()"
       class="form-select mt-2">
           <option value="all">All</option>
           <option value="male">Male</option>
           <option value="female">Female</option>
       </select>
   </div>